.DS_STORE
build
bin/**
*psd

Makefile
CMakeCache.txt
CMakeDoxyfile.in
CPackSourceConfig.cmake
CMakeCacheDoxyfile.in
cmake_install.cmake
CMakeFiles
CMakeFile
CMakeDoxygenDefaults.cmake
CPackConfig.cmake
Mynecraft
_deps
